<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->

<head>
    <meta charset="utf-8">
    <title>PRETTY FINDS admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin-assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    
    

</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index" class="brand-wrap">
                <img src="/imgs/theme/PRETTY FINDS LOGO.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li>
                    <a class="menu-link" href="index"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="menu-link" href="/page-categories"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li>
                    <a class="menu-link " href="/page-product-list"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Product Details</span>
                    </a>
                </li>
                <li>
                    <a class="menu-link" href="/loadaddproduct"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Add Products</span>
                    </a>
                </li>
                <li>
                    <a class="menu-link" href="/page-user-list"> <i class="icon material-icons md-person"></i>
                        <span class="text">User </span>
                    </a>
                </li>
                <li>
                    <a class="menu-link" href="/pageOrders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>

                <li>
                    <a class="menu-link" href="/salesReport"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Sales Report</span>
                    </a>
                </li>
                <li  class="menu-item active">
                    <a class="menu-link" href="/addCoupon"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Coupon </span>
                    </a>
                   
                </li>
                <li>
                    <a class="menu-link" href="/banners"> <i class="icon material-icons md-image"></i>
                        <span class="text">Banners</span>
                    </a>
                </li>


            </ul>
            <hr>
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1">Setting sample 1</a>
                        <a href="page-settings-2">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-blank"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i
                                class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                            aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="/admin-assets/imgs/theme/flag-us.png"
                                    alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="/admin-assets/imgs/theme/flag-fr.png"
                                    alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="/admin-assets/imgs/theme/flag-jp.png"
                                    alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="/admin-assets/imgs/theme/flag-cn.png"
                                    alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/admin-assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <a class="dropdown-item text-danger" href="/logout"><i
                                class="material-icons md-exit_to_app"></i>Logout</a>

                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>
                            <a class="dropdown-item" href="#"><i
                                    class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                center</a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </header>







        <div class="form-container">

            <form method="POST" action="/editCoupon">
                <div class="form-container">
                    <h2>Edit Coupon</h2>
                    <div class="form-group">
                        <label for="couponcode">Coupon code:</label>
                        <input type="text" class="form-control" name="couponcode" id="couponcode" value="<%= coupon.couponCode %>">
                    </div>
                    <div class="form-group">
                        <label for="coupondiscription">Coupon Description:</label>
                        <input type="text" class="form-control" name="couponDescription" id="couponDescription" value="<%= coupon.couponDescription %>">
                    </div>
                    <div class="form-group">
                        <label for="Discount">Discount:</label>
                        <input type="number" class="form-control" name="Discount" id="Discount" value="<%= coupon.discountPercentage %>">
                    </div>
                    <div class="form-group">
                        <label for="MaximumAmount">Maximum Amount:</label>
                        <input type="number" class="form-control" name="MaximumAmount" id="MaximumAmount" value="<%= coupon.maxDiscountAmount %>">
                    </div>
                    <div class="form-group">
                        <label for="couponexpiry">Coupon Expiry:</label>
                        <input type="date" class="form-control" name="couponexpiry" id="couponexpiry" value="<%= coupon && coupon.couponexpiry ? coupon.couponexpiry.toISOString().split('T')[0] : '' %>">
                    </div>
                    <input type="hidden" value="<%= coupon._id %>" name="couponid" id="couponid">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Update coupon</button>
                    </div>
                </div>
            </form>
            
        <script>
            document.querySelector('form').addEventListener('submit', function() {
                console.log('Form submitted');
            });
        </script>
        
    </div>
        




     
        


<style>

.outer-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form-container {
            max-width: 500px;
            width: 100%;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-container h2 {
            text-align: center;
            color: #007bff;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            color: #343a40;
            font-weight: bold;
            display: block;
            margin-bottom: 8px;
        }

        .form-control {
            width: 100%;
            padding: 12px;
            border: 1px solid #ced4da;
            border-radius: 4px;
            transition: border-color 0.3s, box-shadow 0.3s;
        }

        .form-control:focus {
            border-color: #007bff;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            width: 100%;
            padding: 12px;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
    </style>
        
        
        
        </style>








<footer class="main-footer font-xs">
    <div class="row pb-30 pt-15">
        <div class="col-sm-6">
            <script>
                document.write(new Date().getFullYear())
            </script> ©, Evara - HTML Ecommerce Template .
        </div>
        <div class="col-sm-6">
            <div class="text-sm-end">
                All rights reserved
            </div>
        </div>
    </div>
</footer>
</main>
<script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/admin-assets/js/vendors/select2.min.js"></script>
<script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
<script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
<script src="/admin-assets/js/vendors/chart.js"></script>
<!-- Main Script -->
<script src="/admin-assets/js/main.js" type="text/javascript"></script>
<script src="/admin-assets/js/custom-chart.js" type="text/javascript"></script>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Include the custom-chart.js file -->

<!-- Call the function with the data when the page loads -->





</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->

</html>