<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-seller-detail by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:23 GMT -->

<head>
    <meta charset="utf-8">
    <title>PRETTY FINDS admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index" class="brand-wrap">
                <img src="/imgs/theme/PRETTY FINDS LOGO.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li>
                    <a class="menu-link" href="/admindashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="menu-link" href="/page-categories"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link " href="/page-product-list"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Product Details</span>
                    </a>
                </li>
                <li>
                    <a class="menu-link" href="/loadaddproduct"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Add Products</span>
                    </a>
                </li>
                <li>
                    <a class="menu-link" href="/page-user-list"> <i class="icon material-icons md-person"></i>
                        <span class="text">User </span>
                    </a>

                </li>
                <li >
                    <a class="menu-link" href="/pageOrders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li>
                    <a class="menu-link" href="/addCoupon"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Coupon </span>
                    </a>

                </li>
                <li>
                    <a class="menu-link" href="/banners"> <i class="icon material-icons md-image"></i>
                        <span class="text">Banners</span>
                    </a>
                </li>

            </ul>
           
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
               
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                   
                   
                   
                    <li class="dropdown nav-item">
                    
                        <a class="dropdown-item text-danger" href="/logout"><i
                                class="material-icons md-exit_to_app"></i>Logout</a>

                     
                    </li>
                </ul>
            </div>
        </header>

        <body>
            <h1>Edit Product</h1>
            <section class="content-main">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Basic</h4>
                            </div>
                            <div class="card-body">
                                <form onsubmit="return validateEditProduct()" action="/editProduct/<%= product.id %>" method="POST" name="editProductForm">

                                    <div class="form-group">
                                        <label>Product Name</label>
                                        <input type="text" class="form-control" name="name" value="<%= product.name %>"
                                            >
                                    </div>
                                    <div class="form-group">
                                        <label>Product Price</label>
                                        <input type="number" class="form-control" name="price"
                                            value="<%= product.price %>" >
                                    </div>
                                    <div class="form-group mt-3">
                                        <label >discountPercentage</label>
                                        <input type="number" class="form-control" name="discountPercentage"
                                            value="<%= product.discountPercentage %>">
                                    </div>
                                    <div class="form-group">
                                        <label>Product Description</label>
                                        <textarea class="form-control" name="description"
                                            ><%= product.description %></textarea>
                                    </div>
                                    <div class="form-group dropdown mt-4">
                                        <label for="category">Product Category</label>
                                        <select class="form-control" id="category" name="category" >
                                            <% categories.forEach(function(category) { %>
                                                <option value="<%= category.id %>" <% if (product.category && product.category.id.toString() === category.id.toString()) { %>selected<% } %>>
                                                    <%= category.name %>
                                                </option>
                                            <% }); %>
                                        </select>
                                    </div>
                                    
                                    
                                    
                                    <div class="form-group">
                                        <label for="stock">Product Stock</label>
                                        <input type="number" class="form-control" name="stock"
                                            value="<%= product.stock %>" >
                                    </div>
                                    <div class="form-group">
                                        <label>Existing Product Images</label>
                                        <div class="existing-images">
                                            <% if (product.image && product.image.length > 0) { %>
                                                <% product.image.forEach((image) => { %>
                                                    <img src="/uploads/<%= image.url %>" alt="Existing Product Image"
                                                        width="100" class="mr-2">
                                                <% }); %>
                                            <% } else { %>
                                                <p>No existing images</p>
                                            <% } %>
                                        </div>
                                    </div>
            
                                    <!-- Add Image -->
                                    <div class="form-group">
                                        <label for="image">Add New Image</label>
                                        <input type="file" class="form-control-file" id="image" multiple name="image[]"
                                            enctype="multipart/form-data">
                                    </div>
            
                                    <!-- Delete Image -->
                                    <!-- <div class="form-group">
                                        <label>Delete Image</label>
                                        <div class="delete-images">
                                            <% if (product.image && product.image.length > 0) { %>
                                                <% product.image.forEach((image, index) => { %>
                                                    <div class="delete-image">
                                                        <input type="checkbox" name="deleteImage" value="<%= index %>">
                                                        <label>Delete Image <%= index + 1 %></label>
                                                    </div>
                                                <% }); %>
                                            <% } else { %>
                                                <p>No images to delete</p>
                                            <% } %>
                                        </div>
                                    </div> -->
                                    <br>
                                    <br>
                                    <button class="btn btn-md rounded font-sm hover-up" type="submit">Save
                                        Changes</button>
                                </form>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    <!-- Include SweetAlert -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
        function showCustomAlert(message) {
            Swal.fire({
                title: 'Alert',
                text: message,
                icon: 'error',
                confirmButtonText: 'OK'
            });
        }

        function validateEditProduct() {
            console.log("Validating edit product form...");

            var name = document.editProductForm.name.value;
            var price = document.editProductForm.price.value;
            var discountPercentage = document.editProductForm.discountPercentage.value;
            var description = document.editProductForm.description.value;
            var category = document.editProductForm.category.value;
            var stock = document.editProductForm.stock.value;
            var image = document.editProductForm.image.value;

            if (name === "" || price === "" || discountPercentage === "" || description === "" || category === "" || stock === "" ) {
                showCustomAlert("Please fill in all fields.");
                return false;
            }

            if (price <= 0) {
                showCustomAlert("Invalid price. Please enter a valid numerical price.");
                return false;
            }

            if (discountPercentage < 0 || discountPercentage > 100) {
                showCustomAlert("Invalid discount percentage. Please enter a valid numerical discount percentage.");
                return false;
            }

            if (stock < 0) {
                showCustomAlert("Invalid stock. Please enter a valid numerical stock.");
                return false;
            }

            // Additional validation if needed

            return true;
        }
    </script>

        </body>

</html>