<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index-3 by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->

<head>
    <meta charset="utf-8">
    <title>PRETTY FINDS</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/theme/PRETTY FINDS LOGO.png">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/css/main.css">
    
</head>

<body>
    <!-- Quick view -->

    <div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">

                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="detail-gallery">
                            <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                            <!-- MAIN SLIDES -->
                            <div class="product-image-slider">
                                <figure class="border-radius-10">
                                    <img src="/imgs/shop/product-16-2.jpg" alt="product image">
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="/imgs/shop/product-16-1.jpg" alt="product image">
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="/imgs/shop/product-16-3.jpg" alt="product image">
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="/imgs/shop/product-16-4.jpg" alt="product image">
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="/imgs/shop/product-16-5.jpg" alt="product image">
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="/imgs/shop/product-16-6.jpg" alt="product image">
                                </figure>
                                <figure class="border-radius-10">
                                    <img src="/imgs/shop/product-16-7.jpg" alt="product image">
                                </figure>
                            </div>
                            <!-- THUMBNAILS -->

                        </div>
                        <!-- End Gallery -->
                        <div class="social-icons single-share">

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="detail-info">
                            <h3 class="title-detail mt-30">Colorful Pattern Shirts HD450</h3>
                            <div class="product-detail-rating">
                                <div class="pro-details-brand">
                                    <span> Brands: <a href="shop-grid-right">Bootstrap</a></span>
                                </div>
                                <div class="product-rate-cover text-end">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width:90%">
                                        </div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                </div>
                            </div>
                            <div class="clearfix product-price-cover">
                                <div class="product-price primary-color float-left">
                                    <ins><span class="text-brand">$120.00</span></ins>
                                    <ins><span class="old-price font-md ml-15">$200.00</span></ins>
                                    <span class="save-price  font-md color3 ml-15">25% Off</span>
                                </div>
                            </div>
                            <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                            <div class="short-desc mb-30">
                                <p class="font-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam rem
                                    officia, corrupti reiciendis minima nisi modi,!</p>
                            </div>

                            <div class="attr-detail attr-color mb-15">
                                <strong class="mr-10">Color</strong>

                            </div>
                            <div class="attr-detail attr-size">
                                <strong class="mr-10">Size</strong>

                            </div>
                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                            <div class="detail-extralink">
                                <div class="detail-qty border radius">
                                    <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                    <span class="qty-val">1</span>
                                    <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                </div>
                                <div class="product-extra-link2">
                                    <button type="submit" class="button button-add-to-cart">Add to cart</button>
                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="/wishList"><i
                                            class="fi-rs-heart"></i></a>
                                
                                </div>
                            </div>
                            <ul class="product-meta font-xs color-grey mt-50">
                                <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                <li class="mb-5">Tags: <a href="#" rel="tag">Cloth</a>, <a href="#" rel="tag">Women</a>,
                                    <a href="#" rel="tag">Dress</a>
                                </li>
                                <li>Availability:<span class="in-stock text-success ml-5">8 Items In Stock</span></li>
                            </ul>
                        </div>
                        <!-- Detail Info -->
                    </div>

                </div>
            </div>
        </div>
    </div>
    <header class="header-area header-style-3 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+01) - 2345 - 6789</a></li>
                                <li><i class="fi-rs-marker"></i><a href="">Our location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Get great devices up to 50% off <a href="shop-grid-right">View details</a></li>
                                    <li>Supper Value Deals - Save more with coupons</li>
                                    <li>Trendy 25silver jewelry, save up 35% off today <a href="shop-grid-right">Shop
                                            now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <li>
                                    <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i> English <i
                                            class="fi-rs-angle-small-down"></i></a>
                                    <ul class="language-dropdown">
                                        <li><a href="#"><img src="/imgs/theme/flag-fr.png" alt="">Français</a></li>
                                        <li><a href="#"><img src="/imgs/theme/flag-dt.png" alt="">Deutsch</a></li>
                                        <li><a href="#"><img src="/imgs/theme/flag-ru.png" alt="">Pусский</a></li>
                                    </ul>
                                </li>
                                <% if (!locals.logged) { %>
                                    <li id="logoutButton"><i class="fi-rs-user"></i><a href="/index-3">Log Out</a></li>
                                    <li><a href="/myprofile">My Profile <i class="fi-rs-angle-down"></i></a>
                                            
                                    </li>

                                    <% } %>





                                
                                       
    
                                 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href=""><img src="/imgs/theme/PRETTY FINDS LOGO.png" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="#">

                                <input type="text" placeholder="Search for items...">
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/wishList">
                                        <img class="svgInject" alt="Evara" src="/imgs/theme/icons/icon-heart.svg">
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/cart">
                                      <img alt="Evara" src="/imgs/theme/icons/icon-cart.svg">
                                    </a>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative  main-nav">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href=""><img src="/imgs/theme/PRETTY FINDS LOGO.png" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">

                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="/home">Home <i class="fi-rs-angle-down"></i></a>

                                    </li>
                                    <li>
                                        <a href="/lipscareonly">LIPS CARE</a>
                                    </li>
                                    <li><a href="/facecareonly">FACE CARE <i class="fi-rs-angle-down"></i></a>

                                    </li>
                                    <li><a href="/bodycareonly">BODY CARE <i class="fi-rs-angle-down"></i></a>

                                    </li>
                                    <li><a href="/haircareonly">HAIR CARE <i class="fi-rs-angle-down"></i></a>

                                    </li>
                                    <!-- <li><a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                                        
                                    </li> -->
                                    <li>
                                        <a href="/allProducts">All Products</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <!-- <p class="mobile-promotion">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%</p> -->
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishList">
                                    <img alt="Evara" src="/imgs/theme/icons/icon-heart.svg">
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/addToCart">
                                    <img alt="Evara" src="/imgs/theme/icons/icon-cart.svg">
                                </a>


                            </div>
                            <% if (!locals.logged) { %>
                                <li id="loginButton"><i class="fi-rs-user"></i><a href="/page-login">Log In</a></li>
                                <li id="signUpButton"><i class="fi-rs-user"></i><a href="/page-register">Sign Up</a>
                                </li>

                                <% } else { %>
                                    <li id="logoutButton"><i class="fi-rs-user"></i><a href="/index-3">Log Out</a>
                                    </li>
                                    <li><a href="/myprofile">My Profile </i></a>

                                    </li>

                                    <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href=""><img src="/imgs/theme/PRETTY FINDS LOGO.png" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">

                    <!-- mobile menu start -->
                    <nav>
                        <ul>
                            <li><a class="active" href="/home">Home <i class="fi-rs-angle-down"></i></a>
                               
                            </li>
                            <li>
                                <a href="/lipscareonly">LIPS CARE</a>
                            </li>
                            <li><a href="/facecareonly">FACE CARE <i class="fi-rs-angle-down"></i></a>
                               
                            </li>
                            <li ><a href="/bodycareonly">BODY CARE  <i class="fi-rs-angle-down"></i></a>
                            
                            </li>
                            <li><a href="/haircareonly">HAIR CARE <i class="fi-rs-angle-down"></i></a>
                                
                            </li>
                            <!-- <li><a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                                
                            </li> -->
                            <li>
                                <a href="/allProducts">All Products</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a href=""> Our location </a>
                    </div>

                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main">

        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (products.length> 0) { %>
                                        <% for (let i=0; i < products.length; i++) { %>
                                            
                                                <tr>
                                                    <td class="image">
                                                        <img src="/uploads/<%= products[i].productId.image[0].url %>"
                                                            alt="<%= products[i].name %>">
                                                    </td>
                                                    <td class="product-des">
                                                        <a href="<%= '/singleProduct/' + products[i].productId._id %>">
                                                                <%= products[i].productId.name %>
                                                            </a></h5>
                                                    </td>
                                                    <td class="price" data-title="Price"><span>
                                                            <%= products[i].productId.price %>
                                                        </span></td>

                                                    <td class="text-center" data-title="Stock">

                                                        <button class="btn"
                                                            id="decrement_<%= products[i].productId._id %>"
                                                            onclick="decrementQuantity('<%= products[i].productId._id %>')">-</button>
                                                        <% if (products[i].productId.stock <
                                                            products[i].quantity) { %>
                                                            <h1>Out of Stock</h1>
                                                            <% } else { %>
                                                                <span
                                                                    id="quantity_<%= products[i].productId._id %>"
                                                                    class="mr-4 font-weight-bold"
                                                                    name="quantity" data-min="0"
                                                                    data-max="10">
                                                                    <%= products[i].quantity %>
                                                                </span>
                                                                <% } %>
                                                                    <button class="btn"
                                                                        id="increment_<%= products[i].productId._id %>"
                                                                        onclick="incrementQuantity('<%= products[i].productId._id %>')">+</button>
                                                    </td>


                                                    <td class="text-right" data-title="Cart">
                                                        <% var total=products[i].quantity *
                                                            products[i].productId.price; %>
                                                            <h5> ₹<span
                                                                    id="product-total-price-<%= products[i].productId._id %>"
                                                                    class="item-total">
                                                                    <%= total %>
                                                                </span></h5>
                                                    </td>
                                                    <td class="action" data-title="Remove">
                                                        <form action="/removeProduct" method="POST"
                                                            id="removeProductForm<%= i %>">
                                                            <input type="hidden" name="productId"
                                                                value="<%= products[i].productId._id %>">
                                                            <button type="button" class="text-muted"
                                                                style="border: none; background-color: transparent; cursor: pointer;"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#confirmRemoveModal<%= i %>">
                                                                <i class="fi-rs-trash"></i>
                                                            </button>

                                                            <div class="modal fade"
                                                                id="confirmRemoveModal<%= i %>"
                                                                tabindex="-1"
                                                                aria-labelledby="confirmRemoveModalLabel"
                                                                aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title"
                                                                                id="confirmRemoveModalLabel">
                                                                                Confirmation</h5>
                                                                            <button type="button"
                                                                                class="btn-close"
                                                                                data-bs-dismiss="modal"
                                                                                aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            Are you sure you want to remove
                                                                            this product?
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-bs-dismiss="modal">Cancel</button>
                                                                            <button type="submit"
                                                                                form="removeProductForm<%= i %>"
                                                                                class="btn btn-danger">Remove</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>

                                                    </td>

                                                </tr>
                                                
                                            <% } %>
                                                <% } else { %>
                                                    <tr>
                                                        <td colspan="6">No products in the cart</td>
                                                    </tr>
                                                    <% } %>

                                                        
                                </tbody>
                            </table>
                        </div>
                        <div class="cart-action text-end">
                            <a href="/allProducts" class="btn"><i class="fi-rs-shopping-bag mr-10"></i>Continue
                                Shopping</a>
                        </div>

                        <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                        <div class="row mb-50">
                            
                            
                            <div class="col-lg-6 col-md-12">
                                <div class="border p-md-4 p-30 border-radius cart-totals">
                                    <div class="heading_s1 mb-3">
                                        <h4>Cart Totals</h4>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <% /* Function to calculate cart total */ %>
                                                <% function calculateCartTotal(products) { %>
                                                    <% let total=0; %>
                                                        <% products.forEach(product=> { %>
                                                            <% total +=product.quantity * product.productId.price; %>
                                                                <% }) %>
                                                                    <% return total; %>
                                                                        <% } %>
                                                                            <% if (products && products.length> 0) { %>
                                                                                    <tbody>
                                                                                        <% products.forEach(product=> { %>

                                                                                            <% }) %>
                                                                                                <tr>
                                                                                                    <td
                                                                                                        class="cart_total_label">
                                                                                                        Cart Subtotal</td>
                                                                                                    <td
                                                                                                        class="cart_total_amount">
                                                                                                        <span id="subtotal"
                                                                                                            class="font-lg fw-900 text-brand totalValue">
                                                                                                            $<%= calculateCartTotal(products).toFixed(2)
                                                                                                                %>
                                                                                                        </span>
                                                                                                    </td>
                                                                                                </tr>
                                                                                              
                                                                                                <tr>
                                                                                                    <td
                                                                                                        class="cart_total_label">
                                                                                                        Shipping</td>
                                                                                                    <td
                                                                                                        class="cart_total_amount">
                                                                                                        <i
                                                                                                            class="ti-gift mr-5"></i>
                                                                                                        Free Shipping
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td
                                                                                                        class="cart_total_label">
                                                                                                        Category Offer </td>
                                                                                                    <td
                                                                                                        class="cart_total_amount">
                                                                                                        <i
                                                                                                            class="ti-gift mr-5"></i>
                                                                                                         offer 
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td
                                                                                                        class="cart_total_label">
                                                                                                        Total</td>
                                                                                                    <td
                                                                                                        class="cart_total_amount">
                                                                                                        <span id="subtotal"
                                                                                                            class="font-lg fw-900 text-brand totalValue">
                                                                                                            $<%= calculateCartTotal(products).toFixed(2)
                                                                                                                %>
                                                                                                        </span>
                                                                                                    </td>
                                                                                                </tr>
                                                                                    </tbody>
                                                                                <% } else { %>
                                                                                    <tr>
                                                                                        <td colspan="2">Your cart is
                                                                                            empty</td>
                                                                                    </tr>
                                                                                    <% } %>



                                        </table>
                                    </div>
                                    <% if (!isCartEmpty) { %>
                                        <a href="/checkout-page" class="btn "> <i class="fi-rs-box-alt mr-10"></i>
                                            Proceed To Checkout</a>
                                        <% } else { %>
                                            <p>Your cart is empty.</p>
                                            <% } %>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="main">
            <section class="newsletter p-30 text-white wow fadeIn animated">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-7 mb-md-3 mb-lg-0">
                            <div class="row align-items-center">
                                <div class="col flex-horizontal-center">
                                    <img class="icon-email" src="/imgs/theme/icons/icon-email.svg" alt="">
                                    <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                                </div>
                                <div class="col my-4 my-md-0 des">
                                    <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first
                                            shopping.</strong></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <!-- Subscribe Form -->
                         
                            <!-- End Subscribe Form -->
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-padding footer-mid">
                <div class="container pt-15 pb-20">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="widget-about font-md mb-md-5 mb-lg-0">
                                <div class="logo logo-width-1 wow fadeIn animated">
                                    <a href=""><img src="/imgs/theme/PRETTY FINDS LOGO.png" alt="logo"></a>
                                </div>
                                <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                                <p class="wow fadeIn animated">
                                </p>
                                <p class="wow fadeIn animated">
                                </p>
                                <p class="wow fadeIn animated">
                                </p>
                                <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                                <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                    <a ><img src="/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                    <a ><img src="/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                    <a ><img src="/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                    <a ><img src="/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                    <a ><img src="/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3">
                            <h5 class="widget-title wow fadeIn animated"></h5>
                       
                        </div>
                        <div class="col-lg-2  col-md-3">
                            <h5 class="widget-title wow fadeIn animated"></h5>
                           
                        </div>
                        <div class="col-lg-4">
                            <div class="row">
                                <div class="col-md-8 col-lg-12">
                                  
                                </div>
                                <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                    <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                    <img class="wow fadeIn animated" src="/imgs/theme/payment-method.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container pb-20 wow fadeIn animated">
                <div class="row">
                    <div class="col-12 mb-20">
                        <div class="footer-bottom"></div>
                    </div>
                    <div class="col-lg-6">
                      
                    </div>
                    <div class="col-lg-6">
                       
                    </div>
                </div>
            </div>
        </footer>
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/js/plugins/slick.js"></script>
    <script src="/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/js/plugins/wow.js"></script>
    <script src="/js/plugins/jquery-ui.js"></script>
    <script src="/js/plugins/perfect-scrollbar.js"></script>
    <script src="/js/plugins/magnific-popup.js"></script>
    <script src="/js/plugins/select2.min.js"></script>
    <script src="/js/plugins/waypoints.js"></script>
    <script src="/js/plugins/counterup.js"></script>
    <script src="/js/plugins/jquery.countdown.min.js"></script>
    <script src="/js/plugins/images-loaded.js"></script>
    <script src="/js/plugins/isotope.js"></script>
    <script src="/js/plugins/scrollup.js"></script>
    <script src="/js/plugins/jquery.vticker-min.js"></script>

    <script src="/js/main.js"></script>
    <script src="/js/shop.js"></script>
    
    <script>



        const setSubtotal = () => {
            const itemTotal = document.getElementsByClassName('item-total')
            let subtotal = 0;
            console.log(itemTotal);
            for (let i = 0; i < itemTotal.length; i++) {

                subtotal += Number(itemTotal[i].innerHTML)
                console.log(subtotal);
            }
            document.getElementById('subtotal').innerHTML = subtotal;

        }
        setSubtotal();

        function updateSubtotal() {
            // AJAX request to get the updated subtotal from the server
            $.ajax({
                url: '/getCartSubtotal',
                method: 'get',
                success: function (data) {
                    alert('hai')
                    if (data.success) {
                        // Update the cart subtotal on the page
                        document.getElementById('subtotal').innerHTML = '$' + data.total.toFixed(2);
                        alert('hai')
                        document.getElementById('subtotal1').innerHTML = '$' + data.total.toFixed(2);

                       
                    } else {
                        console.log('Error updating cart subtotal');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error(errorThrown);
                }
            });
        }


        function incrementQuantity(cartItemId) {
    $.ajax({
        url: '/increaseQuantity',
        method: "post",
        data: { cartItemId: cartItemId },
        success: function (data) {
            if (data.success) {
                $(`#product-total-price-${cartItemId}`).text(data.total);
                $(`#quantity_${cartItemId}`).text(data?.quantity);
                setSubtotal();
            } else if (data.success === false) {
                if (data.maxQuantity) {
                    // Display SweetAlert for stock limit exceeded
                    Swal.fire({
                        icon: 'info',
                        title: 'Stock Limit Exceeded',
                        text: 'Sorry, you have reached the maximum quantity for this product.',
                        position: 'center',
                        showConfirmButton: false,
                        timer: 3000,
                    });
                }
                setSubtotal();
            } else {
                console.log('error');
            }
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.error(errorThrown);
        }
    });
}





        function decrementQuantity(cartItemId) {

            var currentQuantity = parseInt($(`#quantity_${cartItemId}`).text());
            if (currentQuantity > 1) {
                $.ajax({
                    url: "/decreaseQuantity",
                    method: "post",
                    data: { cartItemId: cartItemId },
                    success: function (data) {
                        // Handle success response here
                        console.log(data);
                        $(`#product-total-price-${cartItemId}`).text(data.total);
                        $(`#quantity_${cartItemId}`).text(data?.quantity);

                        setSubtotal();
                        console.log(data.stock);

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        // Handle error response here
                        res.send('error')
                    }
                });
            } else {
                $(`#quantity_${cartItemId}`).text(1);
            }


        }
    </script>



    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>




</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->

</html>