<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index-3 by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->

<head>
    <meta charset="utf-8">
    <title>PRETTY FINDS</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <!-- Quick view -->

    <div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-gallery">
                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                <!-- MAIN SLIDES -->
                                <div class="product-image-slider">
                                    <figure class="border-radius-10">
                                        <img src="/imgs/shop/product-16-2.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/imgs/shop/product-16-1.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/imgs/shop/product-16-3.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/imgs/shop/product-16-4.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/imgs/shop/product-16-5.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/imgs/shop/product-16-6.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/imgs/shop/product-16-7.jpg" alt="product image">
                                    </figure>
                                </div>
                                <!-- THUMBNAILS -->

                            </div>
                            <!-- End Gallery -->
                            <div class="social-icons single-share">

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-info">
                                <h3 class="title-detail mt-30">Colorful Pattern Shirts HD450</h3>
                                <div class="product-detail-rating">
                                    <div class="pro-details-brand">
                                        <span> Brands: <a href="shop-grid-right">Bootstrap</a></span>
                                    </div>
                                    <div class="product-rate-cover text-end">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width:90%">
                                            </div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                    </div>
                                </div>
                                <div class="clearfix product-price-cover">
                                    <div class="product-price primary-color float-left">
                                        <ins><span class="text-brand">$120.00</span></ins>
                                        <ins><span class="old-price font-md ml-15">$200.00</span></ins>
                                        <span class="save-price  font-md color3 ml-15">25% Off</span>
                                    </div>
                                </div>
                                <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                <div class="short-desc mb-30">
                                    <p class="font-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
                                        rem officia, corrupti reiciendis minima nisi modi,!</p>
                                </div>

                                <div class="attr-detail attr-color mb-15">
                                    <strong class="mr-10">Color</strong>

                                </div>
                                <div class="attr-detail attr-size">
                                    <strong class="mr-10">Size</strong>

                                </div>
                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                <div class="detail-extralink">
                                    <div class="detail-qty border radius">
                                        <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                        <span class="qty-val">1</span>
                                        <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                    </div>
                                    <div class="product-extra-link2">
                                        <button type="submit" class="button button-add-to-cart">Add to cart</button>
                                        <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                            href="shop-wishlist"><i class="fi-rs-heart"></i></a>
                                       
                                    </div>
                                </div>
                                <ul class="product-meta font-xs color-grey mt-50">
                                    <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                    <li class="mb-5">Tags: <a href="#" rel="tag">Cloth</a>, <a href="#"
                                            rel="tag">Women</a>, <a href="#" rel="tag">Dress</a> </li>
                                    <li>Availability:<span class="in-stock text-success ml-5">8 Items In Stock</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- Detail Info -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-top header-top-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info">
                        <ul>
                            <li><i class="fi-rs-smartphone"></i> <a href="#">(+01) - 2345 - 6789</a></li>
                            <li><i class="fi-rs-marker"></i><a href="page-contact">Our location</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4">
                    <div class="text-center">
                        <div id="news-flash" class="d-inline-block">
                            <ul>
                                <li>Get great devices up to 50% off <a href="shop-grid-right">View details</a></li>
                                <li>Supper Value Deals - Save more with coupons</li>
                                <li>Trendy 25silver jewelry, save up 35% off today <a href="shop-grid-right">Shop
                                        now</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info header-info-right">
                        <ul>
                            <li>
                                <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i> English <i
                                        class="fi-rs-angle-small-down"></i></a>
                                <ul class="language-dropdown">
                                    <li><a href="#"><img src="/imgs/theme/flag-fr.png" alt="">Français</a></li>
                                    <li><a href="#"><img src="/imgs/theme/flag-dt.png" alt="">Deutsch</a></li>
                                    <li><a href="#"><img src="/imgs/theme/flag-ru.png" alt="">Pусский</a></li>
                                </ul>
                            </li>
                          
                                    <li id="logoutButton"><i class="fi-rs-user"></i><a href="/index-3">Log Out</a>
                                    </li>
                                    <li><a href="/myprofile">My Profile <i class="fi-rs-angle-down"></i></a>

                                    </li>






                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="header-wrap">
                <div class="logo logo-width-1">
                    <a href="index"><img src="/imgs/theme/PRETTY FINDS LOGO.png" alt="logo"></a>
                </div>
                <div class="header-right">
                    <div class="search-style-2">
                        <form action="#">

                            <input type="text" placeholder="Search for items...">
                        </form>
                    </div>
                    <div class="header-action-right">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="shop-wishlist">
                                    <img class="svgInject" alt="Evara" src="/imgs/theme/icons/icon-heart.svg">
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="shop-cart">
                                    <img alt="Evara" src="/imgs/theme/icons/icon-cart.svg">
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">

            <div class="logo logo-width-1 d-block d-lg-none">
                <a href="index"><img src="/imgs/theme/PRETTY FINDS LOGO.png" alt="logo"></a>
            </div>
            <div class="header-nav d-none d-lg-flex">
                <div class="main-categori-wrap d-none d-lg-block">

                </div>
                <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">

                </div>
            </div>

    <main class="main-wrap">

        <form action="/editAddress/<%= addresses._id %>" method="POST" id="myForm">
            <!-- Your form content goes here -->
      
        
            <section class="content-main">
                <div class="row">
                    <div class="col-6">
                        <div class="content-header">
                            <br>
                            <br>
                            <h2 class="content-title">Edit Address</h2>
                            <br>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <!-- <div class="col-md-3">
                                        <h6>1. General info</h6>
                                    </div> -->
                                    <div class="col-md-9">
                                        <div class="mb-4">
                                            <label>Name <span class="required">*</span></label>
                                            <input required="" class="form-control square" value="<%=addresses.name %>"
                                                name="name" id="name" type="text">
                                        </div>

                                        <div class="mb-4">
                                            <label>Street<span class="required"></span>*</label>
                                            <input required="" class="form-control square"
                                                value="<%=addresses.street %>" name="street" id="street" type="text">
                                        </div>
                                        <div class="mb-4">
                                            <label>City<span class="required"></span>*</label>
                                            <input required="" class="form-control square" value="<%=addresses.city %>"
                                                name="city" id="city" type="text">
                                        </div>
                                        <div class="mb-4">
                                            <label>State<span class="required"></span>*</label>
                                            <input required="" class="form-control square" value="<%=addresses.state %>"
                                                name="state" id="state" type="text">
                                        </div>
                                        <div class="mb-4">
                                            <label>Pin Code<span class="required"></span>*</label>
                                            <input required="" class="form-control square"
                                                value="<%=addresses.pincode %>" name="pincode" id="pincode" type="text">
                                        </div>
                                    </div> 
                                </div> <!-- row.// -->

                                <div class="row">
                                    <!-- <div class="col-md-3">
                                        <h6>2. Pricing</h6>
                                    </div> -->
                                    <div class="col-md-9">
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-md rounded font-sm hover-up" value="submit" type="submit">Update</button>
                    </div>
        </form>
        <p>
            <%=(typeof message!=='undefined' )?message:""%>
        </p>
        </section> <!-- content-main end// -->
    </main>


    <script src="/js/validationEditaddress.js"></script>
    <script src="/js/Validationregister.js"></script>
    <script src="/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/js/vendors/select2.min.js"></script>
    <script src="/js/vendors/perfect-scrollbar.js"></script>
    <script src="/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/shop.js"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index-3 by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:07 GMT -->

</html>