<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-product-full.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:43 GMT -->

<head>
    <meta charset="utf-8">
    <title>PRETTY FINDS</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/theme/PRETTY FINDS LOGO.png">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <!-- Quick view -->
    <div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-gallery">
                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                <!-- MAIN SLIDES -->
                                <div class="product-image-slider">
                                    <div class="product-image">


                                    </div>
                                    <figure class="border-radius-10">
                                        <img src="/imgs/shop/product-16-1.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/imgs/shop/product-16-3.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/imgs/shop/product-16-4.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/imgs/shop/product-16-5.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/imgs/shop/product-16-6.jpg" alt="product image">
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="/imgs/shop/product-16-7.jpg" alt="product image">
                                    </figure>
                                </div>
                                <!-- THUMBNAILS -->
                                <div class="slider-nav-thumbnails pl-15 pr-15">
                                    <div><img src="/imgs/shop/thumbnail-3.jpg" alt="product image"></div>
                                    <div><img src="/imgs/shop/thumbnail-4.jpg" alt="product image"></div>
                                    <div><img src="/imgs/shop/thumbnail-5.jpg" alt="product image"></div>
                                    <div><img src="/imgs/shop/thumbnail-6.jpg" alt="product image"></div>
                                    <div><img src="/imgs/shop/thumbnail-7.jpg" alt="product image"></div>
                                    <div><img src="/imgs/shop/thumbnail-8.jpg" alt="product image"></div>
                                    <div><img src="/imgs/shop/thumbnail-9.jpg" alt="product image"></div>
                                </div>
                            </div>
                            <!-- End Gallery -->
                            <div class="social-icons single-share">
                                <ul class="text-grey-5 d-inline-block">
                                    <li><strong class="mr-10">Share this:</strong></li>
                                    <li class="social-facebook"><a href="#"><img
                                                src="/imgs/theme/icons/icon-facebook.svg" alt=""></a></li>
                                    <li class="social-twitter"> <a href="#"><img
                                                src="/imgs/theme/icons/icon-twitter.svg" alt=""></a></li>
                                    <li class="social-instagram"><a href="#"><img
                                                src="/imgs/theme/icons/icon-instagram.svg" alt=""></a></li>
                                    <li class="social-linkedin"><a href="#"><img
                                                src="/imgs/theme/icons/icon-pinterest.svg" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-info">
                                <h3 class="title-detail mt-30">Colorful Pattern Shirts HD450</h3>
                                <div class="product-detail-rating">
                                    <div class="pro-details-brand">
                                        <span> Brands: <a href="shop-grid-right.html">Bootstrap</a></span>
                                    </div>
                                    <div class="product-rate-cover text-end">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width:90%">
                                            </div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                    </div>
                                </div>
                                <div class="clearfix product-price-cover">
                                    <div class="product-price primary-color float-left">
                                        <ins><span class="text-brand">$120.00</span></ins>
                                        <ins><span class="old-price font-md ml-15">$200.00</span></ins>
                                        <span class="save-price  font-md color3 ml-15">25% Off</span>
                                    </div>
                                </div>
                                <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                <div class="short-desc mb-30">
                                    <p class="font-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
                                        rem officia, corrupti reiciendis minima nisi modi,!</p>
                                </div>


                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                <div class="detail-extralink">
                                    <div class="detail-qty border radius">
                                        <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                        <span class="qty-val">1</span>
                                        <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                    </div>
                                    <div class="product-extra-link2">

                                        <form id="addToCartForm" action="/addToCart/<%= product._id %>" method="post">
                                            <button type="submit" class="button button-add-to-cart"><i ></i> Add to cart</button>
                                        </form>                                
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                            href="/WishList"><i class="fi-rs-heart"></i></a>
                                   
                                    </div>

                                    
                                </div>
                                <ul class="product-meta font-xs color-grey mt-50">
                                    <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                    <li class="mb-5">Tags: <a href="#" rel="tag">Cloth</a>, <a href="#"
                                            rel="tag">Women</a>, <a href="#" rel="tag">Dress</a> </li>
                                    <li>Availability:<span class="in-stock text-success ml-5">8 Items In Stock</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- Detail Info -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="header-area header-style-1 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+01) - 2345 - 6789</a></li>
                                <li><i class="fi-rs-marker"></i><a href="">Our location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Get great devices up to 50% off <a href="shop-grid-right.html">View details</a>
                                    </li>
                                    <li>Supper Value Deals - Save more with coupons</li>
                                    <li>Trendy 25silver jewelry, save up 35% off today <a
                                            href="shop-grid-right.html">Shop now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <li>
                                    <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i> English <i
                                            class="fi-rs-angle-small-down"></i></a>
                                    <ul class="language-dropdown">
                                        <li><a href="#"><img src="/imgs/theme/flag-fr.png" alt="">Français</a></li>
                                        <li><a href="#"><img src="/imgs/theme/flag-dt.png" alt="">Deutsch</a></li>
                                        <li><a href="#"><img src="/imgs/theme/flag-ru.png" alt="">Pусский</a></li>
                                    </ul>
                                </li>
                                <% if (!locals.logged) { %>
                                    <li id="loginButton"><i class="fi-rs-user"></i><a href="/page-login">Log In</a></li>
                                    <li id="signUpButton"><i class="fi-rs-user"></i><a href="/page-register">Sign Up</a>
                                    </li>

                                    <% } else { %>
                                        <li id="logoutButton"><i class="fi-rs-user"></i><a href="/index-3">Log Out</a>
                                        </li>
                                        <li><a href="/myprofile">My Profile </i></a>

                                        </li>

                                        <% } %>                            
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href=""><img src="/imgs/theme/PRETTY FINDS LOGO.png" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="/home">Home <i class="fi-rs-angle-down"></i></a>

                                    </li>
                                    <li>
                                        <a href="/lipscareonly">LIPS CARE</a>
                                    </li>
                                    <li><a href="/facecareonly">FACE CARE <i class="fi-rs-angle-down"></i></a>

                                    </li>
                                    <li><a href="/bodycareonly">BODY CARE <i class="fi-rs-angle-down"></i></a>

                                    </li>
                                    <li><a href="/haircareonly">HAIR CARE <i class="fi-rs-angle-down"></i></a>

                                    </li>
                                    <!-- <li><a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                                        
                                    </li> -->
                                    <li>
                                        <a href="/allProducts">All Products</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/wishList">
                                        <img class="svgInject" alt="Evara" src="/imgs/theme/icons/icon-heart.svg">
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/cart">
                                        <img alt="Evara" src="/imgs/theme/icons/icon-cart.svg">
                                    </a>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative  main-nav">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href=""><img src="/imgs/theme/PRETTY FINDS LOGO.png" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">

                        </div>
                   
                    </div>

                    <!-- <p class="mobile-promotion">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%</p> -->
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishList">
                                    <img alt="Evara" src="/imgs/theme/icons/icon-heart.svg">
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/cart">
                                    <img alt="Evara" src="/imgs/theme/icons/icon-cart.svg">
                                </a>
                            
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href=""><img src="/imgs/theme/PRETTY FINDS LOGO.png" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">

                    <!-- mobile menu start -->
                    <nav>
                        <ul>
                            <li><a class="active" href="/home">Home <i class="fi-rs-angle-down"></i></a>
                               
                            </li>
                            <li>
                                <a href="/lipscareonly">LIPS CARE</a>
                            </li>
                            <li><a href="/facecareonly">FACE CARE <i class="fi-rs-angle-down"></i></a>
                               
                            </li>
                            <li ><a href="/bodycareonly">BODY CARE  <i class="fi-rs-angle-down"></i></a>
                            
                            </li>
                            <li><a href="/haircareonly">HAIR CARE <i class="fi-rs-angle-down"></i></a>
                                
                            </li>
                            <!-- <li><a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                                
                            </li> -->
                            <li>
                                <a href="/allProducts">All Products</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a href=""> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <% if (!locals.logged) { %>
                            <li id="logoutButton"><i class="fi-rs-user"></i><a href="/index-3">Log Out</a></li>
                            <li><a href="/myprofile">My Profile <i class="fi-rs-angle-down"></i></a>
                                    
                            </li>

                            <% } %>                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main">

        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-detail accordion-detail">




                            <div class="row mb-50">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-gallery">
                                        <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider">
                                            <% if (product.image && product.image.length> 0) { %>
                                                <% product.image.forEach((image)=> { %>
                                                    <img src="/uploads/<%= image.url %>" alt="<%= product.name %>">
                                                    <% }); %>
                                                        <% } else { %>
                                                            <!-- Provide an alternative content or message when there are no images -->
                                                            <% } %>
                                        </div>
                                        <!-- THUMBNAILS -->
                                        <div class="slider-nav-thumbnails pl-15 pr-15">
                                            <% if (product.image && product.image.length> 0) { %>
                                                <% product.image.forEach((image)=> { %>
                                                    <div><img src="/uploads/<%= image.url %>" alt="product image"></div>
                                                    <% }); %>
                                                        <% } else { %>
                                                            <!-- Provide an alternative content or message when there are no images -->
                                                            <% } %>
                                        </div>
                                    </div>

                                    <!-- End Gallery -->
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <h2 class="title-detail">
                                            <%= product.name %>
                                        </h2>
                                        <div class="product-detail-rating">

                                            <div class="product-rate-cover text-end">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width:90%">
                                                    </div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                            </div>
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <% if (discountPercentage && discountPercentage > 0) { %>
                                                    <!-- Display the discounted price -->
                                                    <ins><span class="text-brand">$<%= discountedPrice %></span></ins>
                                                    <!-- Display the original price with a strikethrough -->
                                                    <del><span class="old-price font-md ml-15">$<%= product.price %></span></del>
                                                    <!-- Calculate and display the discount percentage -->
                                                    <span class="save-price font-md color3 ml-15"><%= product.discountPercentage %>% Off</span>
                                                <% } else { %>
                                                    <!-- Display the regular price if there is no offer or if the discount is zero -->
                                                    <ins><span class="text-brand">$<%= product.price %></span></ins>
                                                <% } %>
                                            </div>
                                        </div>
                                        
                                        
                                   
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <div class="short-desc mb-30">
                                            <p>
                                                <%= product.description %>
                                            </p>
                                        </div>
                                        <div class="product_sort_info font-xs mb-30">
                                            <ul>
                                                <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year AL Jazeera
                                                    Brand Warranty</li>
                                                <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return
                                                    Policy</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="attr-detail attr-color mb-15">

                                        </div>
                                        <div class="attr-detail attr-size">

                                        </div>
                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                        <div class="detail-extralink">
                                            
                                            <div class="product-extra-link2">

                                                <form id="addToCartForm" action="/addToCart/<%= product._id %>" method="post">
                                                    <% if (product.stock > 0) { %>
                                                      <button type="submit" class="button button-add-to-cart"><i ></i>Add to cart</button>
                                                    <% } else { %>
                                                      <button type="button" class="button button-add-to-cart text-danger" disabled><i ></i>Out of Stock</button>
                                                    <% } %>
                                                  </form>
                                                   
                                                <br>                              
                                                  
                                                        <form action="/addToWishList/<%= product._id %>" method="post">
                                                            <div class="product-action-1">
                                                          
                                                            <button aria-label="Add To Wishlist" class="action-btn hover-up">
                                                                
                                                                <i class="fi-rs-heart"></i>
                                                            </button>
    
    
                                                        </div>
                                                        </form> 

                                                    
                                         
                                                        <br>
                                                        <br>
                                            </div>
                                        </div>
                                        <li>
                                            Availability:
                                            <% if (product.stock > 0) { %>
                                                <span class="in-stock text-success ml-5"><%= product.stock %> Items In Stock</span>
                                            <% } else { %>
                                                <span class="out-of-stock text-danger ml-5">Out of Stock</span>
                                            <% } %>
                                        </li>
                                        
                                        
                                        
                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>




                            

                            <div class="row mt-60">

                                <div class="col-12">
                                    <div class="row related-products">
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap small hover-up">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="shop-product-right.html" tabindex="0">
                                                            <img class="default-img" src="/imgs/shop/product-2-1.jpg"
                                                                alt="">
                                                            <img class="hover-img" src="/imgs/shop/product-2-2.jpg"
                                                                alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <a aria-label="Quick view" class="action-btn small hover-up"
                                                            data-bs-toggle="modal" data-bs-target="#quickViewModal
"><i class="fi-rs-search"></i></a>
                                                        <a aria-label="Add To Wishlist"
                                                            class="action-btn small hover-up" href="/WishList"
                                                            tabindex="0"><i class="fi-rs-heart"></i></a>
                                                    
                                                    </div>
                                                    <div
                                                        class="product-badges product-badges-position product-badges-mrg">
                                                        <span class="hot">Hot</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap small hover-up">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="shop-product-right.html" tabindex="0">
                                                            <img class="default-img" src="/imgs/shop/product-3-1.jpg"
                                                                alt="">
                                                            <img class="hover-img" src="/imgs/shop/product-4-2.jpg"
                                                                alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <a aria-label="Quick view" class="action-btn small hover-up"
                                                            data-bs-toggle="modal" data-bs-target="#quickViewModal
"><i class="fi-rs-search"></i></a>
                                                        <a aria-label="Add To Wishlist"
                                                            class="action-btn small hover-up" href="/WishList"
                                                            tabindex="0"><i class="fi-rs-heart"></i></a>
                                                      
                                                    </div>
                                                    <div
                                                        class="product-badges product-badges-position product-badges-mrg">
                                                        <span class="sale">-12%</span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                                <div class="product-cart-wrap small hover-up">
                                                    <div class="product-img-action-wrap">
                                                        <div class="product-img product-img-zoom">
                                                            <a href="shop-product-right.html" tabindex="0">
                                                                <img class="default-img"
                                                                    src="/imgs/shop/product-4-1.jpg" alt="">
                                                                <img class="hover-img" src="/imgs/shop/product-4-2.jpg"
                                                                    alt="">
                                                            </a>
                                                        </div>
                                                        <div class="product-action-1">
                                                            <a aria-label="Quick view" class="action-btn small hover-up"
                                                                data-bs-toggle="modal" data-bs-target="#quickViewModal
"><i class="fi-rs-search"></i></a>
                                                            <a aria-label="Add To Wishlist"
                                                                class="action-btn small hover-up"
                                                                href="/WishList" tabindex="0"><i
                                                                    class="fi-rs-heart"></i></a>
                                                          
                                                        </div>
                                                        <div
                                                            class="product-badges product-badges-position product-badges-mrg">
                                                            <span class="new">New</span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                                <div class="product-cart-wrap small hover-up mb-0">
                                                    <div class="product-img-action-wrap">
                                                        <div class="product-img product-img-zoom">
                                                            <a href="shop-product-right.html" tabindex="0">
                                                                <img class="default-img"
                                                                    src="/imgs/shop/product-5-1.jpg" alt="">
                                                                <img class="hover-img" src="/imgs/shop/product-3-2.jpg"
                                                                    alt="">
                                                            </a>
                                                        </div>
                                                        <div class="product-action-1">
                                                            <a aria-label="Quick view" class="action-btn small hover-up"
                                                                data-bs-toggle="modal" data-bs-target="#quickViewModal
"><i class="fi-rs-search"></i></a>
                                                            <a aria-label="Add To Wishlist"
                                                                class="action-btn small hover-up"
                                                                href="/WishList" tabindex="0"><i
                                                                    class="fi-rs-heart"></i></a>
                                                           
                                                        </div>
                                                        <div
                                                            class="product-badges product-badges-position product-badges-mrg">
                                                            <span class="hot">Hot</span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first
                                        shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                     
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href=""><img src="/imgs/theme/PRETTY FINDS LOGO.png" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                            </p>
                            <p class="wow fadeIn animated">
                            </p>
                            <p class="wow fadeIn animated">
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a ><img src="/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a ><img src="/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a ><img src="/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a ><img src="/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a ><img src="/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated"></h5>
                   
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated"></h5>
                       
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                              
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="/imgs/theme/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                  
                </div>
                <div class="col-lg-6">
                   
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/js/plugins/slick.js"></script>
    <script src="/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/js/plugins/wow.js"></script>
    <script src="/js/plugins/jquery-ui.js"></script>
    <script src="/js/plugins/perfect-scrollbar.js"></script>
    <script src="/js/plugins/magnific-popup.js"></script>
    <script src="/js/plugins/select2.min.js"></script>
    <script src="/js/plugins/waypoints.js"></script>
    <script src="/js/plugins/counterup.js"></script>
    <script src="/js/plugins/jquery.countdown.min.js"></script>
    <script src="/js/plugins/images-loaded.js"></script>
    <script src="/js/plugins/isotope.js"></script>
    <script src="/js/plugins/scrollup.js"></script>
    <script src="/js/plugins/jquery.vticker-min.js"></script>
    <script src="/js/plugins/jquery.theia.sticky.js"></script>
    <script src="/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="/js/main.js"></script>
    <script src="/js/shop.js"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-product-full.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:43 GMT -->

</html>