<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-wishlist.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:04 GMT -->

<head>
    <meta charset="utf-8">
    <title>PRETTY FINDS</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <header class="header-area header-style-3 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+01) - 2345 - 6789</a></li>
                                <li><i class="fi-rs-marker"></i><a href="#">Our location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <li>
                                    <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i> English <i
                                            class="fi-rs-angle-small-down"></i></a>
                                    <ul class="language-dropdown">
                                        <li><a href="#"><img src="/imgs/theme/flag-fr.png" alt="">Français</a></li>
                                        <li><a href="#"><img src="/imgs/theme/flag-dt.png" alt="">Deutsch</a></li>
                                        <li><a href="#"><img src="/imgs/theme/flag-ru.png" alt="">Pусский</a></li>
                                    </ul>
                                </li>
                                <% if (!locals.logged) { %>
                                    <li id="loginButton"><i class="fi-rs-user"></i><a href="/page-login">Log In</a></li>
                                    <li id="signUpButton"><i class="fi-rs-user"></i><a href="/page-register">Sign Up</a>
                                    </li>

                                    <% } else { %>
                                        <li id="logoutButton"><i class="fi-rs-user"></i><a href="/index-3">Log Out</a>
                                        </li>
                                        <li><a href="/myprofile">My Profile </i></a>

                                        </li>

                                        <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">

                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href=""><img src="/imgs/theme/PRETTY FINDS LOGO.png" alt="logo"></a>
                    </div>
                    <div class="header-right">

                        <div class="search-style-2">
                            <form action="/search" method="GET">
                                <input type="text" name="q" placeholder="Search for items...">
                                <button type="submit">Search</button>
                            </form>
                        </div>

                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/wishList">
                                        <img class="svgInject" alt="Evara" src="/imgs/theme/icons/icon-heart.svg">
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="" href="/cart">
                                        <img alt="Evara" src="/imgs/theme/icons/icon-cart.svg">
                                    </a>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative  main-nav">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href=""><img src="/imgs/theme/PRETTY FINDS LOGO.png" alt="logo"></a>
                    </div>

                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">

                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="/index">Home </i></a>

                                    </li>
                                    <li>
                                        <a href="/lipscareonly">LIPS CARE</a>
                                    </li>
                                    <li><a href="/facecareonly">FACE CARE </i></a>

                                    </li>
                                    <li><a href="/bodycareonly">BODY CARE </i></a>

                                    </li>
                                    <li><a href="/haircareonly">HAIR CARE </i></a>

                                    </li>

                                    <li>
                                        <a href="/allProducts">All Products</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishList">
                                    <img alt="Evara" src="/imgs/theme/icons/icon-heart.svg">
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/cart">
                                    <img alt="Evara" src="/imgs/theme/icons/icon-cart.svg">
                                </a>
                            </div>
                            <% if (!locals.logged) { %>
                                <li id="loginButton"><i class="fi-rs-user"></i><a href="/page-login">Log In</a></li>
                                <li id="signUpButton"><i class="fi-rs-user"></i><a href="/page-register">Sign Up</a>
                                </li>

                                <% } else { %>
                                    <li id="logoutButton"><i class="fi-rs-user"></i><a href="/index-3">Log Out</a>
                                    </li>
                                    <li><a href="/myprofile">My Profile </i></a>

                                    </li>

                                    <% } %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- mobile--------------------------------------------------------------------------------------------------------------------------------------- -->
    <!-- mobile--------------------------------------------------------------------------------------------------------------------------------------- -->
    <!-- mobile--------------------------------------------------------------------------------------------------------------------------------------- -->


    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href=""><img src="/imgs/theme/PRETTY FINDS LOGO.png" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">

                    <!-- mobile menu start -->
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <li>
                                    <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i> English <i
                                            class="fi-rs-angle-small-down"></i></a>
                                    <ul class="language-dropdown">
                                        <li><a href="#"><img src="/imgs/theme/flag-fr.png" alt="">Français</a></li>
                                        <li><a href="#"><img src="/imgs/theme/flag-dt.png" alt="">Deutsch</a></li>
                                        <li><a href="#"><img src="/imgs/theme/flag-ru.png" alt="">Pусский</a></li>
                                    </ul>
                                </li>
                                <% if (!locals.logged) { %>
                                    <li id="loginButton"><i class="fi-rs-user"></i><a href="/page-login">Log In</a></li>
                                    <li id="signUpButton"><i class="fi-rs-user"></i><a href="/page-register">Sign Up</a>
                                    </li>

                                    <% } else { %>
                                        <li id="logoutButton"><i class="fi-rs-user"></i><a href="/index-3">Log Out</a>
                                        </li>
                                        <li><a href="/myprofile">My Profile </i></a>

                                        </li>

                                        <% } %>
                            </ul>
                        </div>
                    </div>
                    <!-- mobile menu end -->
                </div>
                <!-- <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a href="page-contact"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="page-login-register">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div> -->

            </div>
        </div>
    </div>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Wishlist
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="text-center"> Wishlist</h3>

                        <div class="table-responsive">
                            <!-- Add this code to your wishList.ejs file -->
                            <table class="table shopping-summery text-center">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col" colspan="2">Product</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Stock Status</th>
                                        <th scope="col">Action</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% products.forEach((item)=> { %>
                                        <tr>
                                            <td class="image product-thumbnail">
                                                <% if (item && item.image && item.image[0] && item.image[0].url) { %>
                                                    <img src=" /uploads/<%= item.image[0].url %>"
                                                        alt="<%= item.name %>">
                                                    <% } else { %>
                                                        <img src="default_image_url" alt="Default Image">
                                                        <% } %>
                                            </td>
                                            <td class="product-des">
                                                <h5 class="product-name">
                                                    <a href="<%= '/singleProduct/' + item._id %>">
                                                        <%= item.name %>
                                                    </a>
                                                </h5>
                                                <p class="font-xs">
                                                    <% if (item && item.description) { %>
                                                        <%= item.description %>
                                                            <% } else { %>
                                                                No description available.
                                                                <% } %>
                                                </p>
                                            </td>
                                            <td class="price" data-title="Price">
                                                <% if (item && item.price !==undefined) { %>
                                                    <span>$<%= item.price.toFixed(2) %></span>
                                                    <% } else { %>
                                                        <span>Price not available</span>
                                                        <% } %>
                                            </td>

                                            <td class="text-center" data-title="Stock">
                                                <% if (item && item.stock> 0) { %>
                                                    <span class="color3 font-weight-bold">In Stock</span>
                                                    <% } else { %>
                                                        <span class="text-danger font-weight-bold">Out of stock</span>
                                                        <% } %>
                                            </td>
                                            <td class="text-right" data-title="Cart">
                                                <form id="addToCartForm" action="/addToCart/<%= item._id %>"
                                                    method="post">
                                                    <% if (item.stock> 0) { %>
                                                        <button type="submit"
                                                            class="button button-add-to-cart"><i></i>Add to
                                                            cart</button>
                                                        <% } else { %>
                                                            <button type="button"
                                                                class="button button-add-to-cart text-danger"
                                                                disabled><i></i>Notify Me</button>
                                                            <% } %>
                                                </form>

                                            </td>
                                            <td class="action" data-title="Remove">
                                                <form id="removeForm_<%= item._id %>"
                                                    action="/removeFromWishlist/<%= item._id %>" method="POST">
                                                    <button type="button" class="delete-button" onclick="confirmDelete('<%= item._id %>')">
                                                        <i class="fi-rs-trash"></i>
                                                    </button>
                                                    <style>
                                                        /* Add this CSS to your existing stylesheet or in a new style tag in the head of your HTML */

.delete-button {
    background-color: #dc3545; /* Choose your desired background color */
    color: #fff; /* Choose your desired text color */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c82333; /* Choose a slightly darker shade for hover effect */
}

                                                    </style>
                                                </form>
                                            </td>

                                            <script>
                                                function confirmDelete(itemId) {
                                                    Swal.fire({
                                                        title: 'Are you sure?',
                                                        text: 'You won\'t be able to revert this!',
                                                        icon: 'warning',
                                                        showCancelButton: true,
                                                        confirmButtonColor: '#3085d6',
                                                        cancelButtonColor: '#d33',
                                                        confirmButtonText: 'Yes, delete it!'
                                                    }).then((result) => {
                                                        if (result.isConfirmed) {
                                                            // If confirmed, submit the form
                                                            document.getElementById('removeForm_' + itemId).submit();
                                                        }
                                                    });
                                                }
                                            </script>
                                            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


                                        </tr>
                                        <% }); %>
                                </tbody>
                            </table>





                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first
                                        shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->

                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href=""><img src="/imgs/theme/PRETTY FINDS LOGO.png" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                            </p>
                            <p class="wow fadeIn animated">
                            </p>
                            <p class="wow fadeIn animated">
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a><img src="/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a><img src="/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a><img src="/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a><img src="/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a><img src="/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated"></h5>

                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated"></h5>

                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-md-8 col-lg-12">

                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="/imgs/theme/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                </div>
                <div class="col-lg-6">

                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS-->
    <script src="/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/js/plugins/slick.js"></script>
    <script src="/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/js/plugins/wow.js"></script>
    <script src="/js/plugins/jquery-ui.js"></script>
    <script src="/js/plugins/perfect-scrollbar.js"></script>
    <script src="/js/plugins/magnific-popup.js"></script>
    <script src="/js/plugins/select2.min.js"></script>
    <script src="/js/plugins/waypoints.js"></script>
    <script src="/js/plugins/counterup.js"></script>
    <script src="/js/plugins/jquery.countdown.min.js"></script>
    <script src="/js/plugins/images-loaded.js"></script>
    <script src="/js/plugins/isotope.js"></script>
    <script src="/js/plugins/scrollup.js"></script>
    <script src="/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="/js/main.js"></script>
    <script src="/js/shop.js"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-wishlist.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:04 GMT -->

</html>